.main-heading {
  text-align: center;
  margin-bottom: 2px;
}
.play-box {
  background-color: #efefef;
  height: 600px;
}
.number-col {
  width: 80%;
  display: inline-block;
}
.number-card {
  width: 30%;
  height: 30%;
  display: inline-block;
}
.number-center {
  margin: -2px;
  color: #ffffff;
  font-size: 10rem;
  text-align: center;
}
.button-col {
  display: inline-block;
  margin-top: 2rem;
  vertical-align: top;
  width: 15%;
}
.app-footer {
  text-align: center;
}
button {
  display: block;
  background-color: #72c3dc;
  color: #ffffff;
  font-size: 18px;
  min-width: 100%;
  margin: 1rem;
  border-radius: 4px;
  border-color: #72c3dc;
  border-bottom-width: 4px;
  border-bottom-color: #6f98a8;
}
#button-mobile {
  display: none;
}

@media only screen and (max-width: 680px) {
  .number-col {
    width: 70%;
  }
  .button-col {
    width: 27%;
  }
  button {
    font-size: 14px;
    margin: 5px;
  }
}

@media only screen and (max-width: 375px) {
  #button-desktop {
    display: none;
  }
  #button-mobile {
    display: inline-block;
  }
  .number-col {
    width: 100%;
  }
  .button-col {
    width: 100%;
    text-align: center;
    margin-top: 2px;
  }
  .number-card {
    width: 100%;
    height: auto;
    margin: 4px 0;
  }
  .number-center {
    font-size: 1.5rem;
    color: #000000;
    display: inline-block;
    width: 100%;
    margin-left: 10px !important;
    background-color: #efefef !important;
    margin: 0;
  }
  .play-box {
    background-color: #ffffff !important;
  }
  button {
    display: inline;
    font-size: 14px;
    min-width: 0%;
    margin: 5px;
  }
}
